*{margin:0;padding:0;}
html{font-size: 13.333333vw;background-color: #eee;}
.clearFix::after{
    content: '';
    display: block;
    clear: both;
}
.fl{float: left;}
.fr{float: right;}
.wrap{
    /* height: 100rem; */
    /* position: relative; */
}
header{
    width: 7.5rem;
    height: 1.28rem;
    background: #c5292a;
    font-size: 0.36rem;
    color: #fff;
    text-align: center;
    line-height: 1.28rem;
}
main{
    width: 7.5rem;
    height: 9.08rem;
    background:white;
    margin-top: 0.15rem;
}
.maina{
    width: 6.97rem;
    height: 3.8rem;
    margin-left: 0.24rem;
    margin-top: 0.3rem;
    font-size: 0.3rem;
    display: inline-block;
}
.mainb img{
    width: 0.03rem;
    height: 0.37rem;
    display: block;
}
.maina .mainb{
    width: 6.96rem;
    height: 0.3rem;
    display: block;
}
.maina .mainb span{
    margin-left: 0.15rem;
}
.maina p{
    font-size: 0.24rem;
    line-height: 0.35rem;
}
.maina p:nth-child(2){
    margin-top: 0.29rem;
}
.maina p:nth-child(3){
    margin-top: 0.24rem;
}
.mainc{
    width: 7.02rem;
    height: 4.38rem;
    background-color: #cf2823;
    margin-top: 0.3rem;
    margin-left: 0.24rem;
    border-radius: 0.06rem;
    display: flex;
    flex-wrap: wrap;
}
.mainc div{
    width: 3.01rem;
    height: 1.7rem;
    background-image: url(images/about1.png);
    background-size: 100% 100%;
    margin-left: 0.34rem;
    margin-top: 0.33rem;
}
.maind{
    /* height: 9.93rem; */
    width: 7.5rem;
    background: white;
    margin-top: 0.15rem;
}
.maind .maine{
    width: 6.95rem;
    height: 9.33rem;
    margin-top: 0.3rem;
    margin-left: 0.24rem;
    display: inline-block;
}
.maine div:nth-child(1){
    width: 0.03rem;
    height: 0.3rem;
    background-color: #c5292a;
    display: inline-block;
}
.maine span{
    font-size: 0.3rem;
    margin-left: 0.15rem;
}
.maine img{
    display: block;
    width: 1.98rem;
    height: 2.01rem;
    margin-left: 2.37rem;
    margin-top: 0.59rem;
}
.maine p:nth-child(4){
    font-size: 0.3rem;
    text-align: center;
}
.maine p:nth-child(5){
    font-size: 0.24rem;
    line-height: 0.4rem;
}
.mainf{
    width: 7.5rem;
    height: 3.67rem;
    margin-top: 0.15rem;
    background: white;
}
.mainf .maing{
    width: 7.03rem;
    height: 2.04rem;
    margin-top: 0.31rem;
    margin-left: 0.24rem;
    display: inline-block
}
.maing .mainga{
    width: 0.03rem;
    height: 0.3rem;
    background-color: #c5292a;
    display: inline-block;
}
.maing span:nth-child(2){
    font-size: 0.3rem;
    margin-left: 0.15rem;
}
.mainh{
    width: 7.03rem;
    height: 1.43rem;
    margin-top: 0.61rem;
    display: flex;
}
.mainh .mainha{
    width: 2.23rem;
    height: 1.42rem;
    background: #eee;
    border-radius: 0.06rem;
}
.mainh .mainha:hover{
    background: #cf2823;
}
.mainh .mainha:nth-child(2){
    margin-left: 0.18rem;
}
.mainh .mainha:nth-child(3){
    margin-left: 0.18rem;
}
.mainha div{
    width: 0.39rem;
    height: 0.4rem;
    background-image: url(images/fangzi.png);
    background-size: 100%;
    margin:0.12rem auto 0.23rem;
}
.mainha:hover div{
    background-image: url(images/fangzi2.png);
}
.mainha p{
    text-align: center;
    font-size: 0.24rem;
    color:#cf2823;
}
.mainha:hover p{
    color:#eee;
}
footer{
    width: 7.5rem;
    height: 0.99rem;
    background-color: #eee;
    border-top:0.01rem solid #b7b6b6;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
}
footer div{
    width: 20%;
    height: 100%;
}
footer div div{
    width: 0.46rem;
    height: 0.42rem;
    background-size: 100%;
    margin: 0.08rem auto 0.09rem;
}
footer div p{
    font-size: 0.24rem;
    text-align: center;
}
footer div:nth-child(1) div{
    background-image: url(images/db1.png);
}
footer div:nth-child(1):hover div{
    background-image: url(images/db01.png);
}
footer div:nth-child(1):hover p{
    color:#cf2823;
}
footer div:nth-child(2) div{
    background-image: url(images/db2.png);
}
footer div:nth-child(2):hover div{
    background-image: url(images/db02.png);
}
footer div:nth-child(2):hover p{
    color:#cf2823;
}
footer div:nth-child(3) div{
    background-image: url(images/db3.png);
}
footer div:nth-child(3):hover div{
    background-image: url(images/db03.png);
}
footer div:nth-child(3):hover p{
    color:#cf2823;
}
footer div:nth-child(4) div{
    background-image: url(images/db4.png);
}
footer div:nth-child(4):hover div{
    background-image: url(images/db04.png);
}
footer div:nth-child(4):hover p{
    color:#cf2823;
}
footer div:nth-child(5) div{
    background-image: url(images/db05.png);
}
footer div:nth-child(5):hover div{
    /* background-image: url(images/db05.png); */
}
footer div:nth-child(5) p{
    color:#cf2823;
}